rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Rules for the 'users' collection
    match /users/{userId} {
      // Admins can list all users. This is required for the user management page.
      allow list: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'Admin';

      // Allow users to create their own user document upon registration
      allow create: if request.auth != null && request.auth.uid == userId;
      
      // Allow users to read/update their own data. Admins can read/update any user's data.
      allow read, update: if request.auth != null && (request.auth.uid == userId || get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'Admin');

      // Allow Admins to delete users.
      allow delete: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'Admin';
    }

    // Rules for the 'tours' collection
    match /tours/{tourId} {
      // Allow any authenticated user to read tours
      allow read: if request.auth != null;
      // Allow users with 'Admin' or 'Creator' role to write to tours
      allow write: if request.auth != null && (get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'Admin' || get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'Creator');
    }
  }
}
