/* src/components/AdminNavbar.css */
.admin-navbar {
  display: flex;
  justify-content: space-between; /* This will push the logo to the left and links to the right */
  align-items: center;
  background-color: #add8e6; /* Light blue background */
  padding: 0.5rem 2rem;
  color: #000000;
  gap: 2rem; /* Adds space between the items */
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box; /* Ensures padding is included in the width */
}

.admin-navbar-brand img {
  height: 40px; /* Adjust as needed */
}

.admin-navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center; /* This will center the links */
  flex-grow: 1; /* This will allow the links to take up the remaining space */
}

.admin-navbar-links li {
  margin-left: 1.5rem;
}

.admin-navbar-links a {
  color: #000000;
  text-decoration: none;
  padding: 0.5rem;
  transition: color 0.3s ease, background-color 0.3s ease;
  border-radius: 4px;
}

.admin-navbar-links a:hover,
.admin-navbar-links a.active {
  background-color: #555;
  color: #fff;
}
