.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #429af6;
  box-shadow: 0 4px 8px 0 #ff8a00;
  color: #000000;
  gap: 2rem; /* Adds space between the items */
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box; /* Ensures padding is included in the width */
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-user-email {
  margin-right: 1rem;
  font-size: 0.9rem;
  color: #000000;
}

.navbar-button {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

.navbar-button:hover {
  background-color: #e0e0e0;
}
